<div class="jumbotron">
    <% if(typeof user != 'undefined'){ %>
    <h1 class="display-4 text-center">Welcome <%= user.name %> </h1>
    <% }else{%>
    <h1 class="display-4 text-center">Welcome to Rezipez!</h1>
    <%} %>
    <div class="input-group mb-3 container mt-4">
        <input type="text" class="form-control" placeholder="Search Recipe">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
    </div>
</div>
<div id="recipe-wrapper">
    <div class="container">
        <div id="loading-wrapper" class="text-center py-5 d-flex flex-column justify-content-center align-items-center">
            <div class="spinner-border mb-4" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <small>Loading recipes</small>
        </div>
    </div>
</div>